<div id="sbDateRange" class="row">
    <button class="btn btn-default" ng-class="{active:showDateRangeDetails}" ng-click="showDateRangeDetails=!showDateRangeDetails">
        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
        <span ng-hide="sbModel.startDate == null && sbModel.endDate == null">{{sbModel.startDate | date:'MMMM yyyy'}} - {{sbModel.endDate | date:'MMMM yyyy'}}</span><span ng-show="sbModel.startDate == null && sbModel.endDate == null">All</span> <b class="caret"></b>
    </button>
</div>
<div ng-show="showDateRangeDetails">
    <div class="row">
        <div id="dateRangeSelectionSection" class="col-md-3">
            <label for="dateRangeStart">From: </label>
            <input id="dateRangeStart" type="text" ng-model="sbModel.startDate" bs-datepicker data-date-format="dd MMM yyyy" data-autoclose="true" data-container="body"/>
            <label for="dateRangeEnd">To: </label>
            <input id="dateRangeEnd" type="text" ng-model="sbModel.endDate" bs-datepicker data-date-format="dd MMM yyyy" data-autoclose="true" data-container="body"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-default btn-xs" ng-click="setToThisYear()">This year</button>
            <button type="button" class="btn btn-default btn-xs" ng-click="setToLastYear()">Last year</button>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">More years <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="yearOption in yearOptions">
                        <a ng-click="setYear(yearOption.value)">{{yearOption.name}}</a>
                    </li>
                </ul>
            </div>
            <button type="button" class="btn btn-default btn-xs" ng-click="setToThisRankingYear()">This ranking year</button>
            <button type="button" class="btn btn-default btn-xs" ng-click="setToLastRankingYear()">Last ranking year</button>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">More ranking years <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="rankingYearOption in rankingYearOptions">
                        <a ng-click="setRankerYear(rankingYearOption.value)">{{rankingYearOption.name}}</a>
                    </li>
                </ul>
            </div>
            <button type="button" class="btn btn-default btn-xs" ng-click="setToThisMonth()">This month</button>
            <button type="button" class="btn btn-default btn-xs" ng-click="setToLastMonth()">Last month</button>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">More months <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="monthOption in monthOptions">
                        <a ng-click="setMonth(monthOption.value)">{{monthOption.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
