<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div ng-show="showSearch">
            <div ng-repeat="searchField in searchFields">
                <div ng-class-even="row">
                    <div ng-switch data-on="searchField.type">
                        <div ng-switch-when="select">
                            <div class="col-md-3">
                                <label class="control-label" for="SearchSelectField{{searchField.name}}">{{searchField.name}}</label>
                                <select id="SearchSelectField{{searchField.name}}" class="form-control" data-ng-model="searchParams[searchField.field]" ng-options="searchFieldOption._id as searchFieldOption.name for searchFieldOption in searchField.options"></select>
                            </div>
                        </div>
                        <div ng-switch-when="selectRangeSingle">
                            <div class="col-md-3">
                                <label class="control-label" for="SearchSelectRangeField{{searchField.name}}">{{searchField.name}}</label>
                                <select id="SearchSelectRangeField{{searchField.name}}"
                                        data-ng-change="searchParams[searchField.fieldStart]=selected[searchField.name][searchField.selectedStart]; searchParams[searchField.fieldEnd]=selected[searchField.name][searchField.selectedEnd]"
                                        class="form-control"
                                        data-ng-model="selected[searchField.name]"
                                        ng-options="searchFieldOption._id as searchFieldOption.name for searchFieldOption in searchField.options">
                                </select>
                            </div>
                        </div>
                        <div ng-switch-when="text">
                            <div class="col-md-3">
                                <label class="control-label" for="SearchTextField{{searchField.name}}">{{searchField.name}}</label>
                                <input id="SearchTextField{{searchField.name}}" type="text" data-ng-model="searchParams[searchField.field]" autocomplete="off"/>
                            </div>
                        </div>
                    </div>
                    <div ng-if="$index == 0" class="col-md-2 pull-right">
                        Show <label><select id="perPageCountSelection" class="form-control input-sm" data-ng-model="searchParams.per_page" ng-options="perPageOption.value as perPageOption.name for perPageOption in perPageOptions"></select></label> items
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="noRecords" class="panel-body">
        <p>{{messageEmpty}}</p>
    </div>
    <table ng-hide="noRecords" border="0" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th data-ng-repeat="column in columnInfo">{{column.title}}</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="model in models">
            <td data-ng-repeat="column in columnInfo">
                <div ng-switch data-on="column.link">
                    <div ng-switch-when="true">
                        <a data-ng-href="{{column.baseLink}}{{getValueFromModel(model, column.linkField)}}">{{getFieldValue(model,column)}}</a>
                    </div>
                    <div ng-switch-default>{{getFieldValue(model,column)}}</div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="panel-footer clearfix">
        <div class="row">
            <div class="col-md-3">
                Displaying {{calculatePageRange(searchParams.page,searchParams.per_page, totalItems)}} of {{totalItems}} items
            </div>
            <div class="col-md-6 pull-right">
                <div data-pagination
                     class="pull-right pagination-no-margin"
                     data-on-select-page="changePage(page)"
                     data-direction-links="true"
                     data-boundary-links="true"
                     data-total-items="totalItems"
                     data-items-per-page="searchParams.per_page"
                     data-page="searchParams.page"
                     data-max-size="5">
                </div>
            </div>
        </div>
    </div>
</div>

