<div ng-hide="allowTableHide && noRecords" class="panel panel-default">
    <div class="panel-heading clearfix">
        <span ng-show="title"><b>{{title}}</b></span>
        <span class="pull-right" ng-hide="showSearch" ng-click="showSearch=true"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></span>
        <span class="pull-right" ng-show="showSearch" ng-click="showSearch=false"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
        <div ng-show="showSearch">
            <div ng-repeat="searchField in searchFields">
                <div ng-class-even="row">
                    <div ng-switch data-on="searchField.type">
                        <div ng-switch-when="select">
                            <div class="col-md-3">
                                <label class="control-label" for="SearchSelectField{{searchField.name}}">{{searchField.name}}</label>
                                <select id="SearchSelectField{{searchField.name}}" class="form-control" data-ng-model="searchParams[searchField.field]" ng-options="searchFieldOption._id as searchFieldOption.name for searchFieldOption in searchField.options"></select>
                            </div>
                        </div>
                        <div ng-switch-when="selectRangeSingle">
                            <div class="col-md-3">
                                <label class="control-label" for="SearchSelectRangeField{{searchField.name}}">{{searchField.name}}</label>
                                <select id="SearchSelectRangeField{{searchField.name}}"
                                        data-ng-change="searchParams[searchField.fieldStart]=selected[searchField.name][searchField.selectedStart]; searchParams[searchField.fieldEnd]=selected[searchField.name][searchField.selectedEnd]"
                                        class="form-control"
                                        data-ng-model="selected[searchField.name]"
                                        ng-options="searchFieldOption._id as searchFieldOption.name for searchFieldOption in searchField.options">
                                </select>
                            </div>
                        </div>
                        <div ng-switch-when="dateRange">
                            <div class="col-md-3">
                                <label class="control-label">{{searchField.name}}</label>
                                <div sb-date-range data-sb-model="searchParams" data-default-start-date="searchField.defaultStartDate" data-default-end-date="searchField.defaultEndDate"></div>
                            </div>
                        </div>
                        <div ng-switch-when="text">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="SearchTextField{{searchField.name}}">{{searchField.name}}</label>
                                    <input id="SearchTextField{{searchField.name}}" class="form-control" type="text" data-ng-model="searchParams[searchField.field]" autocomplete="off"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 pull-right">
                <span>Show <label><select id="perPageCountSelection" class="form-control input-sm" data-ng-model="searchParams.per_page" ng-options="perPageOption.value as perPageOption.name for perPageOption in perPageOptions"></select></label> items</span>
                <div ng-if="exportUrls" class="btn-group">
                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-download-alt"></span> Export
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="(key, val) in exportUrls">
                            <a download ng-href="{{val}}">{{key}}</a>
                        </li>
                    </ul>
                </div>
                <button type="button" ng-click="resetSearch()" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-refresh"></span> Reset</button>
            </div>
        </div>
    </div>
    <div ng-show="noRecords">
        <h4>{{messageEmpty}}</h4>
    </div>
    <table ng-hide="noRecords" border="0" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th data-ng-repeat="column in columnInfo">{{column.title}}</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="model in models">
            <td data-ng-repeat="column in columnInfo">
                <div ng-switch data-on="column.type">
                    <div ng-switch-when="link">
                        <a data-ng-href="{{column.baseLink}}{{getValueFromModel(model, column.linkField)}}">{{getFieldValue(model,column)}}</a>
                    </div>
                    <div ng-switch-when="template">
                        <div ng-include="column.template"></div>
                    </div>
                    <div ng-switch-default>{{getFieldValue(model,column)}}</div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="panel-footer clearfix">
        <div class="row">
            <div class="col-md-3">
                Displaying {{calculatePageRange(searchParams.page,searchParams.per_page, totalItems)}} of {{totalItems}} items
            </div>
            <div class="col-md-6 pull-right">
                <div data-pagination
                     class="pull-right pagination-no-margin"
                     data-on-select-page="changePage(page)"
                     data-direction-links="true"
                     data-boundary-links="true"
                     data-total-items="totalItems"
                     data-items-per-page="searchParams.per_page"
                     data-page="searchParams.page"
                     data-max-size="5">
                </div>
            </div>
        </div>
    </div>
</div>

