.DS_Store
.sass-cache/
.bower-*/
node_modules/
client/lib
test/coverage/
.idea
.idea_modules
/project/boot/
/project/plugins/project
target/
lib_managed/
src_managed/
test-output/
.env
client/all.min.jså
coverage