.DS_Store
.sass-cache/
.bower-*/
node_modules/
public/lib
test/coverage/
.idea
.idea_modules
/project/boot/
/project/plugins/project
target/
lib_managed/
src_managed/
test-output/
public/index.html
public/views/footer.html
.env