<div data-ng-controller="PlacingCtrl" data-ng-init="loadPlacingsForRace()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Placings</h3>
        </div>
        <div class="panel-body">
            <div data-alert data-ng-repeat="alert in placingAlerts" data-type="alert.type">{{alert.msg}}</div>
            <div id="placingControls" class="row">
                <div ng-hide="formMode == 'edit'" class="col-md-4">
                    <button data-ng-click="showAdd()" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
                    <button data-ng-click="showEdit()" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                </div>
                <div ng-show="formMode == 'edit'" class="col-md-1">
                    <button data-ng-click="finishEditing()" class="btn btn-primary">Done Editing</button>
                </div>
            </div>
            <div id="addPlacing" data-ng-show="formMode == 'add'" class="row">
                <form>
                    <div class="col-md-3"><div sb-greyhound-name-field data-sb-model="newGreyhoundName"></div></div>
                    <div class="col-md-2">
                        <button data-ng-click="addGreyhound(newGreyhoundName)" class="btn btn-success">Add</button>
                        <button data-ng-click="showView()" class="btn btn-default">Cancel</button>
                    </div>
                </form>
            </div>
            <div class="row placing-row" ng-repeat="placing in placings">
                <div class="col-md-1" ng-class="placingDefinitions[$index].style">{{placingDefinitions[$index].placingLabel}}</div>
                <div ui-sortable="sortableOptions" class="placing-container col-md-2" data-ng-model="placing">
                    <div class="placing-greyhound" ng-repeat="greyhound in placing">{{greyhound.name}}  <button data-ng-click="removePlacing($parent.$index, $index)" ng-show="formMode == 'edit'" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-minus-sign"></span> Remove</button></div>
                </div>
            </div>
        </div>
    </div>
</div>