<div id="raceView" data-ng-controller="RankingSystemCtrl" data-ng-init="findOne()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Ranking System</h3>
        </div>
        <div class="panel-body">
            <div data-alert data-ng-repeat="alert in alerts" data-type="alert.type">{{alert.msg}}</div>
            <div data-ng-show="rankingSystem.name">
                <form role="form">
                    <div class="form-group">
                        <label>Name</label>
                        <p>{{rankingSystem.name}}</p>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <p>{{rankingSystem.description}}</p>
                    </div>
                    <div class="form-group">
                        <label>Equal Position Resolution</label>
                        <p>{{rankingSystem.equalPositionResolution}}</p>
                    </div>
                    <div class="form-group">
                        <label>Created at</label>
                        <p>{{rankingSystem.createdAt | date:'medium'}}</p>
                    </div>
                    <div class="form-group">
                        <label>Last updated</label>
                        <p>{{rankingSystem.updatedAt | date:'medium'}}</p>
                    </div>
                </form>
                <button ng-show="user" class="btn btn-primary" ng-click="recreateAllocations()"><span class="glyphicon glyphicon-refresh"></span> Re-Create Allocations</button>
                <a ng-show="user" data-ng-href="#/rankingSystem/edit/{{rankingSystem._id}}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                <a ng-show="user" ng-click="copy()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Copy</a>
                <button ng-show="user" data-ng-click="deleteEntity()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default" data-ng-show="rankingSystem.pointAllotments">
        <div class="panel-heading">
            <h3 class="panel-title">Point Definitions</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Points</th>
                    <th>Criteria</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="allotment in rankingSystem.pointAllotments">
                    <td>{{allotment.points}}</td>
                    <td>
                        <div data-ng-repeat="criteria in allotment.criteria">{{criteria.field}} {{criteria.comparator}} {{criteria.value}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="pointAllotmentList" data-ng-controller="PointAllotmentCtrl">
        <div data-sb-table
             data-table-title="Point Allocations"
             data-model-service="pointAllotmentService"
             data-column-info="columnInfo"
             data-per-page="15"
             data-sort-field="date"
             data-sort-direction="desc">
        </div>
    </div>
    <a data-ng-href="#/rankingSystem">Back to Ranking Systems</a>
</div>