<div id="greyhoundList" data-ng-controller="GreyhoundCtrl" data-ng-init="loadGreyhounds()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Greyhound List</h3>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group col-sm-3">
                    <label class="sr-only" for="greyhoundSearch">Search:</label>
                    <input id="greyhoundSearch" type="text" data-ng-model="searchParams.like" placeholder="Search greyhound" class="form-control" />
                </div>
                <div class="col-xs-1">
                    <button data-ng-click="updateSearch()" class="btn btn-primary btn-sm">Search</button>
                </div>
            </form>
            <table data-ng-show="greyhounds.length > 0" id="greyhoundTable" border="0" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Sire</th>
                    <th>Dam</th>
                </tr>
                </thead>
                <tbody id="greyhoundTableBody">
                <tr data-ng-repeat="greyhound in greyhounds">
                    <td><a data-ng-href="#/greyhound/view/{{greyhound._id}}">{{greyhound.name | uppercase}}</a></td>
                    <td><a data-ng-href="#/greyhound/view/{{greyhound.sireRef}}">{{greyhound.sire.name | uppercase}}</a></td>
                    <td><a data-ng-href="#/greyhound/view/{{greyhound.damRef}}">{{greyhound.dam.name | uppercase}}</a></td>
                </tr>
                </tbody>
            </table>
            <div data-pagination
                 data-on-select-page="changePage(page)"
                 data-direction-links="true"
                 data-boundary-links="true"
                 data-total-items="totalItems"
                 data-items-per-page="searchParams.per_page"
                 data-page="searchParams.page"
                 data-max-size="5">
            </div>
        </div>
    </div>
</div>