<div id="greyhoundForm" ng-controller="GreyhoundFormCtrl">
    <button ng-click="toggleCreateForm()" ng-show="!createFormOpen" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Create New Greyhound</button>
    <br />
    <div class="panel panel-info" ng-show="createFormOpen">
        <div class="panel-heading">
            <h3 class="panel-title">Greyhound Creation</h3>
        </div>
        <div class="panel-body">
            <alert ng-repeat="alert in alerts" type="alert.type">{{alert.msg}}</alert>

            <form name="greyhoundCreateForm" novalidate role="form" class="form-horizontal" >
                <div class="form-group col-xs-6"
                     ng-class="{'has-error': isInvalid(greyhoundCreateForm.greyhoundNameField),
                         'has-success': isValid(greyhoundCreateForm.greyhoundNameField)}">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text"
                               class="form-control"
                               name="greyhoundNameField"
                               ng-model="greyhound.name"
                               autocomplete="off"
                               typeahead="grey for grey in searchGreyhound($viewValue) | filter:$viewValue | uppercase"
                               required />
                        <span class="help-block error" ng-show="greyhoundCreateForm.greyhoundNameField.$dirty && greyhoundCreateForm.greyhoundNameField.$invalid">Greyhound name is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button ng-click="save()" ng-disabled="greyhoundCreateForm.$invalid" class="btn btn-success"><span ng-show="!greyhoundCreateForm.$invalid" class="glyphicon glyphicon-ok"></span> Save</button>
                        <button ng-show="greyhound._id" ng-click="delete()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button>
                        <button ng-click="clearForm(greyhoundCreateForm)" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>