<div data-ng-controller="menuCtrl" class="navbar navbar-default navbar-fixed-top header">
    <div class="container">
        <div class="navbar-header">
            <button ng-click="isCollapsed = !isCollapsed" type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img style="max-width:100px; margin-top: -7px; height:20px;" src="../img/logo_small.png" /> AGRA Ranker
            </a>
        </div>
        <div id="sb-navbar-links" ng-class="{in: !isCollapsed }" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ui-route="/" ng-class="{active: $uiRoute}"><a data-ng-href="#/">Rankings</a></li>
                <li ui-route="#/greyhound.*" ng-class="{active: $uiRoute}"><a data-ng-href="#/greyhound">Greyhounds</a></li>
                <li ui-route="#/race.*" ng-class="{active: $uiRoute}"><a data-ng-href="#/race">Races</a></li>
                <li ui-route="#/groupLevel.*" ng-class="{active: $uiRoute}" ><a data-ng-href="#/groupLevel">Group Levels</a></li>
                <li ui-route="#/rankingSystem.*" ng-class="{active: $uiRoute}"><a data-ng-href="#/rankingSystem">Ranking Systems</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-show="user" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Administration</li>
                        <li><a href="#/user">Users</a></li>
                        <li><a href="#/batch">Batch Jobs</a></li>
                        <li><a href="#/file">Files</a></li>
                        <li><a href="#/data">Data management</a></li>
                    </ul>
                </li>
                <li ng-show="user">
                    <p class="navbar-text">{{user.email}}</p>
                </li>
                <li ng-show="user"><button class="btn navbar-btn btn-primary" data-ng-click="logout()">Logout</button></li>
                <li ng-hide="user" ui-route="/login" ng-class="{active: $uiRoute}"><a data-ng-href="#/login">Login</a></li>
                <li ng-hide="user" ui-route="/signup" ng-class="{active: $uiRoute}"><a data-ng-href="#/signup">Register</a></li>
            </ul>
        </div>
    </div>
</div>