<div class="page-header">
    <h2>Ranking Systems</h2>
</div>
<p>
A ranking system defines how a greyhound is ranked in the context of a series of races. It determines
- what races are being included in a greyhounds points
- how many points a greyhound should get for a perticluar placing

Different ranking systems define different ways greyhounds can get points.
</p>
<p>
Default Ranking System
Period: Current finical year
Point Tables:
    Race requirement:
        - Group Level must equal Group 1
        - Distance must be under 715 meters
        1st 70
        2nd 40
        3rd

Dam Ranking System
...
Point Tables:

Sire Ranking System
...
</p>