<div id="greyhoundForm" data-ng-controller="GreyhoundCtrl" data-ng-init="findOne()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Greyhound</h3>
        </div>
        <div class="panel-body">
            <div data-alert data-ng-repeat="alert in alerts" data-type="alert.type">{{alert.msg}}</div>
            <form name="greyhoundForm" novalidate>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="control-label">Name</label>
                        <div sb-greyhound-name-field data-sb-model="greyhound.name"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="control-label" style="width: 100%;">Sire</label>
                        <div sb-greyhound-name-field data-sb-model="sireName"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="control-label" style="width: 100%;">Dam</label>
                        <div sb-greyhound-name-field data-sb-model="damName"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <button data-ng-click="save()" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Save</button>
                        <button ng-show="greyhound._id != null" data-ng-click="deleteGreyhound()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button>
                        <a data-ng-href="#/greyhound" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <a data-ng-href="#/greyhound">Back to Greyhounds</a>
</div>