<div data-ng-controller="RankingSystemCtrl" data-ng-init="findOne()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Ranking System Edit</h3>
        </div>
        <div class="panel-body">
            <div data-alert data-ng-repeat="alert in alerts" data-type="alert.type">{{alert.msg}}</div>

            <form name="createForm" novalidate>
                <div class="form-group row">
                    <div class="col-md-6">
                    <label class="control-label" for="rankingSystemNameField" >Name</label>
                    <input id="rankingSystemNameField"
                           type="text"
                           class="form-control"
                           name="rankingSystemNameField"
                           data-ng-model="rankingSystem.name"
                           autocomplete="off"
                           autofocus="true" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="control-label" for="rankingSystemDescField" >Description</label>
                        <textarea id="rankingSystemDescField"
                               class="form-control"
                               name="rankingSystemDescField"
                               data-ng-model="rankingSystem.description"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="control-label" for="rankingSystemEPRField">Equal Placing Resolution</label>
                        <select id="rankingSystemEPRField" class="form-control" data-ng-model="rankingSystem.equalPositionResolution" ng-options="positionResolution.value as positionResolution.name for positionResolution in positionResolutions"></select>
                    </div>
                </div>
                <div class="form-group">
                        <button data-ng-click="save()" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Save</button>
                        <a ng-href="#/rankingSystem/view/{{rankingSystem._id}}" class="btn btn-default">Back</a>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Common Criteria</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-3">
                <button data-ng-show="!editCommonCriteriaEnabled" data-ng-click="editCommonCriteria(true)" class="btn btn-primary">Edit Common Criteria</button>
                <button data-ng-show="editCommonCriteriaEnabled" data-ng-click="addCommonCriteria()" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add Criteria</button>
            </div>
            <table data-ng-show="!editCommonCriteriaEnabled" class="table table-striped table-bordered">
                <tbody>
                <tr>
                    <td>
                        <div data-ng-repeat="criteria in rankingSystem.commonCriteria">{{criteria.field}} {{criteria.comparator}} {{criteria.value}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="form-group row">
                <div class="col-md-12">
                    <table data-ng-show="editCommonCriteriaEnabled" class="table">
                    <thead><tr>
                        <th>Type</th>
                        <th>Field</th>
                        <th>Comparator</th>
                        <th>Value</th>
                        <th>Options</th>
                    </tr></thead>
                    <tbody>
                    <tr data-ng-repeat="criteria in rankingSystem.commonCriteria">
                        <td>
                            <label class="sr-only" for="typeFieldCommonCritera"></label>
                            <select id="typeFieldCommonCritera" class="form-control" data-ng-model="criteria.type" ng-options="criteriaType.value as criteriaType.name for criteriaType in criteriaTypes"></select>
                        </td>
                        <td>
                            <label class="sr-only" for="commonCriteriaField"></label>
                            <input id="commonCriteriaField"
                                   type="text"
                                   class="form-control"
                                   data-ng-model="criteria.field"
                                   autocomplete="off" />
                        </td>
                        <td>
                            <label class="sr-only" for="rankingSystemCommonCriteriaComparator"></label>
                            <select id="rankingSystemCommonCriteriaComparator" class="form-control" data-ng-model="criteria.comparator" ng-options="criteriaCompare.value as criteriaCompare.name for criteriaCompare in criteriaCompare"></select>
                        </td>
                        <td>
                            <label class="sr-only" for="commonCriteriavalueField"></label>
                            <input id="commonCriteriavalueField"
                                   type="{{criteria.type}}"
                                   class="form-control"
                                   data-ng-model="criteria.value"
                                   autocomplete="off" />
                        </td>
                        <td>
                            <button data-ng-click="removeCommonCriteria($index)" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                    <button data-ng-show="editCommonCriteriaEnabled" data-ng-click="editCommonCriteria(false);save()" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Point Definitions</h3>
        </div>
        <div class="panel-body">
            <div class="form-group row" ng-show="currentPointAllotmentPosition == null">
                    <button data-ng-click="addPointDefinition()" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add Point Definition</button>
                    <button data-ng-click="openFileSelect()" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Import Point Definitions</button>
                    <input id="hiddenFileOpen" type="file" style="display:none" data-ng-hide="uploadingFile" ng-file-select="onFileSelect($files)">
                    <a class="btn btn-primary" download="template.json" ng-href="/template/pointDefinitionTemplate.json"><span class="glyphicon glyphicon-arrow-down"></span> Download Import Template</a>
            </div>
            <form ng-show="currentPointAllotmentPosition != null">
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="control-label" for="pointField">Points</label>
                        <input id="pointField"
                               type="text"
                               class="form-control"
                               data-ng-model="rankingSystem.pointAllotments[currentPointAllotmentPosition].points"
                               autocomplete="off" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="control-label" for="seriesField">Series</label>
                        <input id="seriesField"
                               type="text"
                               class="form-control"
                               data-ng-model="rankingSystem.pointAllotments[currentPointAllotmentPosition].series"
                               autocomplete="off" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <button data-ng-click="addCriteria(currentPointAllotmentPosition)" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add Criteria</button>
                    </div>
                </div>
                <div class="form-group row" ng-show="rankingSystem.pointAllotments[currentPointAllotmentPosition].criteria != null && rankingSystem.pointAllotments[currentPointAllotmentPosition].criteria.length > 0">
                    <div class="col-md-12">
                        <table class="table">
                            <thead><tr>
                                <th>Type</th>
                                <th>Field</th>
                                <th>Comparator</th>
                                <th>Value</th>
                                <th>Options</th>
                            </tr></thead>
                            <tbody>
                                <tr data-ng-repeat="criteria in rankingSystem.pointAllotments[currentPointAllotmentPosition].criteria">
                                    <td>
                                        <label class="sr-only" for="typeField"></label>
                                        <select id="typeField" class="form-control" data-ng-model="criteria.type" ng-options="criteriaType.value as criteriaType.name for criteriaType in criteriaTypes"></select>
                                    </td>
                                    <td>
                                        <label class="sr-only" for="criteriaField"></label>
                                        <input id="criteriaField"
                                               type="text"
                                               class="form-control"
                                               data-ng-model="criteria.field"
                                               autocomplete="off" />
                                    </td>
                                    <td>
                                        <label class="sr-only" for="rankingSystemCriteriaComparator"></label>
                                        <select id="rankingSystemCriteriaComparator" class="form-control" data-ng-model="criteria.comparator" ng-options="criteriaCompare.value as criteriaCompare.name for criteriaCompare in criteriaCompare"></select>
                                    </td>
                                    <td>
                                        <label class="sr-only" for="valueField"></label>
                                        <input id="valueField"
                                               type="{{criteria.type}}"
                                               class="form-control"
                                               data-ng-model="criteria.value"
                                               autocomplete="off" />
                                    </td>
                                    <td>
                                        <button data-ng-click="removeCriteria(currentPointAllotmentPosition,$index)" class="btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <button data-ng-click="clearPointAllotmentEditor()" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Save</button>
                    </div>
                </div>
            </form>
            <div class="form-group row" ng-show="currentPointAllotmentPosition == null && rankingSystem.pointAllotments && rankingSystem.pointAllotments.length > 0">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Series</th>
                            <th>Points</th>
                            <th>Criteria</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="allotment in rankingSystem.pointAllotments | orderBy:'series'">
                            <td>{{allotment.series}}</td>
                            <td>{{allotment.points}}</td>
                            <td>
                                <div data-ng-repeat="criteria in allotment.criteria">{{criteria.field}} {{criteria.comparator}} {{criteria.value}}</div>
                            </td>
                            <td>
                                <button data-ng-click="setPointAllotmentEditor($index)" class="btn btn-primary">Edit</button>
                                <button data-ng-click="removePointAllotment($index)" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                <div class="col-md-12">
            </div>
        </div>
    </div>
        </div>
    </div>
</div>