<div data-ng-controller="RankingSystemCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Ranking System Creation</h3>
        </div>
        <div class="panel-body">
            <div data-alert data-ng-repeat="alert in alerts" data-type="alert.type">{{alert.msg}}</div>

            <form name="createForm" novalidate>
                <div class="form-group row">
                    <div class="col-md-6">
                    <label class="control-label" for="rankingSystemNameField" >Name</label>
                    <input id="rankingSystemNameField"
                           type="text"
                           class="form-control"
                           name="rankingSystemNameField"
                           data-ng-model="rankingSystem.name"
                           autocomplete="off"
                           autofocus />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="control-label" for="rankingSystemDescField" >Description</label>
                        <textarea id="rankingSystemDescField"
                               class="form-control"
                               name="rankingSystemDescField"
                               data-ng-model="rankingSystem.description"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="control-label" for="rankingSystemEPRField">Equal placing resolution</label>
                        <select id="rankingSystemEPRField" class="form-control" data-ng-model="rankingSystem.equalPositionResolution" ng-options="positionResolution.value as positionResolution.name for positionResolution in positionResolutions"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="control-label" for="rankingSystemGroupByLabel">Group by label</label>
                        <input id="rankingSystemGroupByLabel" type="text" class="form-control" name="rankingSystemGroupByLabel"
                               data-ng-model="rankingSystem.groupBy.label" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="control-label" for="rankingSystemGroupByField">Group by field</label>
                        <input id="rankingSystemGroupByField" type="text" class="form-control" name="rankingSystemGroupByField"
                               data-ng-model="rankingSystem.groupBy.field" autocomplete="off"/>
                    </div>
                </div>
                <div class="form-group">
                    <button data-ng-click="create()" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Save</button>
                    <a ng-href="#/rankingSystem" class="btn btn-default">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>