html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 70px;
  margin-bottom: 40px;
}

a {
  color: #00B7FF;
}

.copy {
    display: block;
    font: 12px/40px "Trebuchet MS",Arial,Helvetica,sans-serif;
    text-align: center;
}

.footer {
    background-color: #692020;
    color: #FFFFFF;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	left: 0;
}

.bigText {
    text-transform: uppercase;
}

.navbar-nav > li > button {
    margin-top: 10px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}