<div ng-controller="userCtrl" class="container">
    <div data-alert data-ng-repeat="alert in alerts" data-type="alert.type">{{alert.msg}}</div>
    <form ng-hide="registeredSuccess" class="col-md-4">
        <h2>Request access to ranker</h2>
        <div class="form-group">
            <label for="emailInput">Email Address</label>
            <input id="emailInput" ng-model="user.email" type="email" class="form-control" placeholder="Email address" required autofocus>
        </div>
        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input id="passwordInput" ng-model="user.password" type="password" class="form-control" placeholder="Password" required>
        </div>
        <button class="btn btn-primary" ng-click="signUp()">Sign Up</button>
    </form>
    <div ng-show="registeredSuccess">
        <p>
            You have successfully registered for access. Once you are approved by the administrator you will be notified by email.
        </p>
    </div>
</div>
