<div ng-controller="userCtrl" class="col-sm-8 col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">New user access request</h2>
        </div>
        <div class="panel-body">
            <div data-alert data-ng-repeat="alert in alerts" data-type="alert.type">{{alert.msg}}</div>
            <form ng-hide="registeredSuccess">
                <div class="form-group">
                    <label for="emailInput">Email Address</label>
                    <input id="emailInput" ng-model="user.email" type="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="firstNameInput">First Name</label>
                    <input id="firstNameInput" ng-model="user.firstName" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="lastNameInput">Last Name</label>
                    <input id="lastNameInput" ng-model="user.lastName" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input id="passwordInput" ng-model="user.password" type="password" class="form-control">
                    <a ng-click="setShowPasscode(true)" ng-hide="showPasscode">Have passcode?</a>
                    <a ng-click="setShowPasscode(false)" ng-show="showPasscode">Dont provide passcode</a>
                </div>
                <div class="form-group" ng-show="showPasscode">
                    <label for="signupCode">Sign up code</label>
                    <input id="signupCode" ng-model="user.bootstrap" type="password" class="form-control">
                </div>

                <button class="btn btn-primary" ng-click="signUp()">Request Access</button>
            </form>
            <div ng-show="registeredSuccess">
                <p>
                    You have successfully registered for access. Once you are approved by the administrator you will be notified by email.
                </p>
            </div>
        </div>
    </div>
</div>

