<div data-ng-controller="userCtrl" data-ng-init="findOne()">
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">User Edit</h2>
            </div>
            <div class="panel-body">
                <div data-alert data-ng-repeat="alert in alerts" data-type="alert.type">{{alert.msg}}</div>

                <form name="editUserForm">
                    <div class="form-group">
                        <label class="control-label" for="userEmailField" >Email</label>
                        <input id="userEmailField"
                               type="email"
                               class="form-control"
                               name="userEmailField"
                               data-ng-model="selectedUser.email"
                               autocomplete="off" />
                        <span class="help-block error" data-ng-show="createForm.userEmailField.$dirty && createForm.userEmailField.$invalid">Email is invalid</span>
                    </div>
                    <div class="form-group">
                        <label for="firstNameInput">First Name</label>
                        <input id="firstNameInput" ng-model="selectedUser.firstName" type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="form-group">
                        <label for="lastNameInput">Last Name</label>
                        <input id="lastNameInput" ng-model="selectedUser.lastName" type="text" class="form-control" placeholder="Last name">
                    </div>
                    <div ng-show="selectedUser.state == 'Active' || selectedUser.state == 'Inactive'" class="form-group">
                        <input id="userStatus" type="checkbox" ng-model="selectedUser.state" ng-true-value="Active" ng-false-value="Inactive">
                        <label for="userStatus">Account is <span ng-show="selectedUser.state == 'Active'">active</span><span ng-show="selectedUser.state == 'Inactive'">inactive</span></label>
                    </div>
                    <div class="form-group">
                        <input id="newUserRequestStatus" type="checkbox" ng-model="selectedUser.settings.notifications.newUserRequest">
                        <label for="newUserRequestStatus">{{selectedUser.settings.notifications.newUserRequest | boolean : 'Send' : 'Do not send'}} this account any new user requests by email</label>
                    </div>
                    <div ng-show="selectedUser.state == 'Requested'" class="form-group">
                        <button data-ng-click="makeActive()" class="btn btn-primary">Approve Request</button>
                    </div>
                    <button data-ng-click="save()" class="btn btn-success">Save</button>
                    <a ng-href="#/user/view/{{selectedUser._id}}" class="btn btn-default">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>