<div id="userView" data-ng-controller="userCtrl" data-ng-init="findOne()">
    <div data-alert data-ng-repeat="alert in alerts" data-type="alert.type">{{alert.msg}}</div>
    <div class="panel panel-default" data-ng-show="selectedUser">
        <div class="panel-heading">
            <h1 class="panel-title">User Details</h1>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Email</dt>
                <dd>{{selectedUser.email}}</dd>
                <dt>First Name</dt>
                <dd>{{selectedUser.firstName}}</dd>
                <dt>Last Name</dt>
                <dd>{{selectedUser.lastName}}</dd>
                <dt>Status</dt>
                <dd>{{selectedUser.state}}</dd>
                <dt>Created at</dt>
                <dd>{{selectedUser.createdAt | date:'medium'}}</dd>
                <dt>Last updated</dt>
                <dd>{{selectedUser.updatedAt | date:'medium'}}</dd>
            </dl>
            <div>
                <h4>Actions</h4>
                <a data-ng-href="#/user/edit/{{selectedUser._id}}" ng-show="canEdit(selectedUser)" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit User</a>
                <button data-ng-click="grantAccess(selectedUser)" ng-show="selectedUser.state == 'Requested Access'" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Grant Access</button>
                <button data-ng-click="deleteUser()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete User</button>
            </div>
        </div>
    </div>
    <a data-ng-href="#/user">Back to Users</a>
</div>