<div data-ng-controller="GreyhoundCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Greyhound Creation</h3>
        </div>
        <div class="panel-body">
            <div data-alert data-ng-repeat="alert in alerts" data-type="alert.type">{{alert.msg}}</div>

            <form name="greyhoundCreateForm" novalidate>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="control-label">Name</label>
                        <div sb-greyhound-name-field data-sb-model="greyhound.name"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <button data-ng-click="create()" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Save</button>
                        <a ng-href="#/greyhound" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>