<div id="greyhoundDetail" data-ng-controller="GreyhoundCtrl" data-ng-init="findOne()">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Greyhound - {{greyhound.name | uppercase}}</h3>
        </div>
        <div class="panel-body">
            <div data-ng-show="greyhound.name">
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>{{greyhound.name | uppercase}}</dd>
                    <dt>Sire</dt>
                    <dd><a data-ng-href="#/greyhound/view/{{greyhound.sire._id}}">{{greyhound.sire.name | uppercase}}</a></dd>
                    <dt>Dam</dt>
                    <dd><a data-ng-href="#/greyhound/view/{{greyhound.dam._id}}">{{greyhound.dam.name | uppercase}}</a></dd>
                    <dt>Created at</dt>
                    <dd>{{greyhound.createdAt | date:'medium'}}</dd>
                    <dt>Last updated</dt>
                    <dd>{{greyhound.updatedAt | date:'medium'}}</dd>
                </dl>
                <a ng-show="user" data-ng-href="#/greyhound/edit/{{greyhound._id}}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
            </div>
        </div>
        <div data-sb-table
             data-table-title="Offspring"
             data-message-empty="This greyhound does not have any recorded offspring"
             data-model-service="greyhoundService"
             data-column-info="offspringColumnInfo"
             data-search-fields="offspringSearchFields"
             data-per-page="10"
             data-sort-field="name"
             data-sort-direction="asc">
        </div>
    </div>
    <a data-ng-href="#/greyhound">Back to Greyhounds</a>
</div>