<div ng-controller="UploadCtrl">
    <h4>Select a file to import:</h4>
    <button data-ng-hide="uploadingFile" data-ng-click="openFileSelect()" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Import greyhound .csv file</button>
    <input id="hiddenFileOpen" type="file" style="display:none" ng-file-select="onFileSelect($files)">
    <div data-ng-show="uploadingFile && !uploadResult">
        Uploading file...
    </div>
    <div data-ng-show="uploadResult">
        Upload complete. This file is being processed in batch. You can view the progress of the batch <a data-ng-href="#/batch/view/{{uploadResult._id}}">here</a>
        <br><br>
        <button data-ng-click="clearSelectedFiles()" class="btn btn-primary">
            Upload another file
        </button>
    </div>
</div>
