<div id="GreyhoundContent">
    <div class="page-header">
        <h2>Greyhounds</h2>
    </div>
    <div ng-show="user" class="panel panel-default">
        <div class="panel-body">
            <a href="#/greyhound/create" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Create New Greyhound</a>
            <a href="#/import" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Import Greyhounds</a>
        </div>
    </div>
    <div data-ng-include="'views/greyhound/greyhoundList.html'"></div>
</div>