<div id="raceView" data-ng-controller="RaceCtrl" data-ng-init="findOne()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{race.name}}</h3>
        </div>
        <div class="panel-body">
            <div data-alert data-ng-repeat="alert in alerts" data-type="alert.type">{{alert.msg}}</div>
            <div data-ng-show="race.name">
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>{{race.name}}</dd>
                    <dt>Date</dt>
                    <dd>{{race.date | date:'dd MMMM yyyy'}}</dd>
                    <dt>Group Level</dt>
                    <dd>{{race.groupLevel.name}}</dd>
                    <dt>Distance Meters</dt>
                    <dd>{{race.distanceMeters}} meters</dd>
                    <dt>Track</dt>
                    <dd>
                        <span data-ng-show="race.track">{{race.track}}</span>
                        <span data-ng-hide="race.track" class="off-grey">None</span>
                    </dd>
                    <dt>Club</dt>
                    <dd>
                        <span data-ng-show="race.club">{{race.club}}</span>
                        <span data-ng-hide="race.club" class="off-grey">None</span>
                    </dd>
                    <dt data-ng-show="user">Created </dt>
                    <dd data-ng-show="user">{{race.createdAt | fromNow}}</dd>
                    <dt data-ng-show="user">Last updated</dt>
                    <dd data-ng-show="user">{{race.updatedAt | fromNow}}</dd>
                </dl>
                <div data-ng-show="race.disqualified" class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Note</h3>
                    </div>
                    <div class="panel-body">
                        This has been marked as a disqualified. The results do not count towards rankings of any kind.
                    </div>
                </div>
                <div data-ng-controller="PlacingCtrl">
                    <div data-sb-table
                         data-title="Placings"
                         data-model-service="placingSvr"
                         data-column-info="racePlacingColumns"
                         data-search-fields="raceSearchFields"
                         data-per-page="15"
                         data-message-empty="No placings found"
                         data-sort-field="placing"
                         data-hide-search="true"
                         data-hide-on-empty="true"
                         data-sort-direction="asc">
                    </div>
                </div>
                <a data-ng-show="user" data-ng-href="#/race/edit/{{race._id}}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                <button data-ng-show="user" data-ng-click="deleteEntity()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button>
            </div>
        </div>
    </div>
    <a data-ng-href="#/race">Back to Races</a>
</div>