<a ng-click="model.tableShow = !model.tableShow" ng-hide="model.tableShow">{{model.totalPoints}}</a>
<div ng-show="model.tableShow">
    <h4>Contributing Races</h4> <a ng-click="model.tableShow = !model.tableShow">(Hide)</a>
    <table class="table">
        <thead>
            <tr>
                <th>Race</th><th>Placing</th><th>Points</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="score in model.scores | orderBy:'-points'">
                <td><a ng-href="#/race/view/{{score.raceRef}}">{{score.raceName}}</a></td><td>{{score.position}}</td><td>{{score.points}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr><td></td><td><b>Total points:</b></td><td>{{model.totalPoints}}</td></tr>
        </tfoot>
    </table>

</div>