<div id="batchResultView" data-ng-controller="batchResultCtrl" data-ng-init="findOne()">
    <div data-alert data-ng-repeat="alert in alerts" data-type="alert.type">{{alert.msg}}</div>
    <div class="panel panel-default" data-ng-show="batchResult">
        <div class="panel-heading">
            <h3 class="panel-title">Batch Result</h3>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Record number</dt>
                <dd>{{batchResult.recordNumber}}</dd>
                <dt>Result</dt>
                <dd>{{batchResult.status}}</dd>
                <dt>Processing time</dt>
                <dd>{{batchResult.processingDuration | duration}}</dd>
                <dt>Raw record</dt>
                <dd>{{batchResult.raw}}</dd>
                <dt>Created at</dt>
                <dd>{{batchResult.createdAt | date:'medium'}}</dd>
                <dt>Last updated</dt>
                <dd>{{batchResult.updatedAt | date:'medium'}}</dd>
                <dt>Details</dt>
                <dd>
                    <ul>
                        <li data-ng-repeat="stepResult in batchResult.stepResults">
                            {{stepResult}}
                        </li>
                    </ul>
                </dd>
            </dl>

        </div>
    </div>
    <a data-ng-href="#/batch/view/{{batchResult.batchRef}}">Back to Batch Job</a>
</div>