<div id="batchView" data-ng-controller="BatchCtrl" data-ng-init="findOne()">
    <div data-alert data-ng-repeat="alert in alerts" data-type="alert.type">{{alert.msg}}</div>
    <div class="panel panel-default" data-ng-show="batch">
        <div class="panel-heading">
            <h3 class="panel-title">Batch Job - {{batch.name}}</h3>
        </div>
        <div class="panel-body">
            <div data-ng-show="batch">
                <dl class="dl-horizontal">
                    <dt>File name</dt>
                    <dd>{{batch.name}}</dd>
                    <dt>Batch type</dt>
                    <dd>{{batch.type}}</dd>
                    <dt>Status</dt>
                    <dd>{{batch.status}}</dd>
                    <dt>Created at</dt>
                    <dd>{{batch.createdAt | date:'medium'}}</dd>
                    <dt>Last updated</dt>
                    <dd>{{batch.updatedAt | date:'medium'}}</dd>
                    <dt>Actions</dt>
                    <dd>
                        <button class="btn btn-danger"
                                ng-show="batch.status == 'Awaiting processing'"
                                ng-click="cancelBatch()">
                            <span class="glyphicon glyphicon-stop"></span> Cancel Batch
                        </button>
                        <button data-ng-click="deleteBatch()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete Batch</button>
                    </dd>
                </dl>
                <div data-ng-include="'views/batch/batchResultList.html'"></div>
            </div>
        </div>
    </div>
    <a data-ng-href="#/batch">Back to Batch Jobs</a>
</div>