<div class="row">
    <div ng-controller="userCtrl" class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Forgot password</h2>
            </div>
            <div class="panel-body">
                <div data-alert data-ng-repeat="alert in alerts" data-type="alert.type">{{alert.msg}}</div>

                <form name="signInForm" ng-hide="passwordResetSent">
                    <p>Please enter the email you wish to reset</p>
                    <div class="form-group">
                        <label class="control-label" for="email">Email</label>
                        <input id="email" name="email" ng-model="forgot.email" type="email" class="form-control" placeholder="Email address" required autofocus="true" login-auto-fill>
                    </div>
                    <button class="btn btn-primary" ng-click="sendForgotPasswordRequest()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
