<div data-ng-controller="PlacingCtrl" data-ng-init="loadPlacingsForRace()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Placings</h3>
        </div>
        <div class="panel-body">
            <div data-alert data-ng-repeat="alert in placingAlerts" data-type="alert.type">{{alert.msg}}</div>
            <div id="placingControls" class="row">
                <div ng-hide="formMode != 'view'" class="col-md-4">
                    <button data-ng-click="showAdd()" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
                    <button data-ng-click="showEdit()" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                </div>
                <div ng-show="formMode == 'edit'" class="col-md-1">
                    <button data-ng-click="finishEditing()" class="btn btn-primary">Done Editing</button>
                </div>
                <div ng-show="formMode == 'add'" class="col-md-6">
                    <ui-select ng-model="selection.greyhound"
                               theme="select2"
                               ng-disabled="disabled"
                               reset-search-input="false" style="width: 300px;">
                        <ui-select-match placeholder="Select a greyhound">
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="greyhound in searchGreyhounds track by $index"
                                           refresh="refreshGreyhoundSearch($select.search)"
                                           refresh-delay="0">
                            <div ng-bind-html="greyhound.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <button data-ng-click="addGreyhound()" class="btn btn-success">Add</button>
                    <button data-ng-click="showView()" class="btn btn-default">Cancel</button>
                </div>
            </div>
            <div class="row placing-row" ng-repeat="placing in placings">
                <div class="col-md-1" ng-class="placingDefinitions[$index].style">{{placingDefinitions[$index].placingLabel}}</div>
                <div id="placingSet-{{$index}}" ui-sortable="sortableOptions" class="placing-container col-md-2" data-ng-model="placing">
                    <div id="placing-{{$parent.$index}}-{{$index}}" class="placing-greyhound" ng-repeat="greyhound in placing">{{greyhound.name}}  <button data-ng-click="removePlacing($parent.$index, $index)" ng-show="formMode == 'edit'" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-minus-sign"></span> Remove</button></div>
                </div>
            </div>
        </div>
    </div>
</div>