<div data-ng-controller="PlacingCtrl" data-ng-init="loadPlacingsForRace()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Placings</h3>
        </div>
        <div class="panel-body">
            <div data-alert data-ng-repeat="alert in placingAlerts" data-type="alert.type">{{alert.msg}}</div>
            <div id="placingControls" class="row">
                <div class="col-md-3 form-group">
                    <span sb-greyhound-name-field ng-keyup="keyUp($event)" data-sb-model="selection.newGreyhoundName"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button data-ng-click="addGreyhound()" class="btn btn-success">Add</button>
                    <button data-ng-click="showView()" class="btn btn-default">Clear</button>
                </div>
            </div>
            <div class="row placing-row" ng-repeat="placing in placings">
                <div class="col-md-1" ng-class="placingDefinitions[$index].style">{{placingDefinitions[$index].placingLabel}}</div>
                <div data-ng-model="placing" id="placingSet-{{$index}}" ui-sortable="sortableOptions" class="placing-container col-md-7">
                    <div id="placing-{{$parent.$index}}-{{$index}}" class="row" style="margin-bottom: 5px; margin-top: 5px;" ng-repeat="greyhound in placing">
                        <span class="placing-greyhound col-md-4">{{greyhound.name}}</span>
                        <span class="col-md-2"><button data-ng-click="removePlacing($parent.$index, $index)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-minus-sign"></span> Remove</button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>